/* -----------------------
      html
----------------------- */

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;

  @include respond-from($device-md, $device-lg) {
    font-size: 60%;
  }

  @include respond-to($device-sm, $device-md) {
    font-size: 58%;
  }

  @include respond-to(none, $device-sm) {
    font-size: 56%;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body {
  font-family: $font-p;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Lists
 */

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */

/* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
} */

/**
 * Links
 */

a {
  color: $theme-color;
  text-decoration: none;
  &:visited {
    color: darken($theme-color, 15%);
  }
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

/* mixin comp styles */

.row.no-padding {
  margin: 0;
  > [class*="col-"] {
    padding: 0;
  }
}

@each $val in $mb-classes {
  .mb-#{$val} {
    margin-bottom: #{$val}px !important;
  }
}

body {
  font-family: $font-p;
  font-size: 16px;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-h;
  color: $text-color;
}

h1,
.h1 {
  font-size: rem(90px);
  letter-spacing: rem(4.5px);
}
h2,
.h2 {
  font-size: rem(60px);
  letter-spacing: rem(0.25px);
}
h3, .h3 {
  font-size: rem(50px);
}
h4, .h4 {
  font-size: rem(40px);
}
h5,
.h5 {
  font-size: rem(30px);
  letter-spacing: rem(0.34px);
}
h6, .h6 {
  font-size: rem(20px);
}

@include respond-from(none, $device-lg) {
  // body{
  //   font-size: 1.2rem;
  // }
  h1, .h1 {
    font-size: rem(60px);
    letter-spacing: rem(3px);
  }
  h2, .h2 {
    font-size: rem(40px);
  }
  h3, .h3 {
    font-size: rem(36px);
  }
  h4, .h4 {
    font-size: rem(28px);
  }
  h5, .h5 {
    font-size: rem(24px);
  }
  h6, .h6 {
    font-size: rem(20px);
  }
}

@include respond-from(none, $device-xs) {

  // body{
  //   font-size: 1.2rem;
  // }
  h1,
  .h1 {
    font-size: rem(36px);
    letter-spacing: rem(2.2px);
  }

  h2,
  .h2 {
    font-size: rem(30px);
    line-height: rem(34px);
  }

  h3,
  .h3 {
    font-size: rem(26px);
  }

  h4,
  .h4 {
    font-size: rem(22px);
  }

  h5,
  .h5 {
    font-size: rem(18px);
  }

  h6,
  .h6 {
    font-size: rem(16px);
  }
}

.navbar{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #1B1B1B;
  height: $navbar-height;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 999;

  &.navbar-default{

    &:after{
     height: 5px;
      width: 100%;
      content: '';
      background: rgba(0, 0, 0, 0.5);
    }

  }

  .navbar-brand{
    padding-top: 20px;
    height: 110px;
    img{
      max-width: 160px;
    }
  }

  .navbar-collapse {
    background: #1b1b1b;
    border: none;
  }

  .navbar-header {
    position: relative;
  }

  .navbar-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    margin: 0;
    border: none;

    &:hover,
    &:focus {
      background: none;
    }

    .icon-bar {
      width: 30px;
      height: 3px;
    }
  }

  li {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }

    &.seperator {
      height: 50px;
      width: 1px;
      background: #494949;
    }

    &.link {
      a {
        display: flex;
        align-items: center;
    
        img {
          max-width: 15px !important;
          margin: -4px 0 0 4px;
        }
      }
    }
  }

  a {
    font-family: $font-h;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff !important;
  }

  .navbar-right{
    margin-top: 30px;
  }

  @media (max-width: $device-md) and (min-width: $device-sm) {
    li {
      margin-right: 10px;
      
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  @media (max-width: $device-sm) {
    li {
      margin-right: 0;

      &.seperator {
        display: none;
      }
    }
  }  
}

.p-home{
  .preloader {
    background-color: #1B1B1B;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    .container{
      text-align: center;
    }
    .logo{
      width: 100%;
      img{
        max-width: 60%;
      }
    }
  }
  &.page-loaded{
    .preloader{
      transition: all 2s 1s ease-in;
      height: 110px;
      animation: hide-preloader 1s 3.5s forwards;
      .logo{
        text-align: center;
        width: 160px;
        transition: all 2s 1s ease-in;
        img{
          max-width: 160px;
          transition: all 2s 1s ease-in;
        }
      }
      .container{
        text-align: left;
      }
      @include respond-from(none, $device-sm){
        .container{
          margin-left: 0;
        }
      }
    }
  }
}
.no-js {
  .preloader{
    display: none;
  }
}

@keyframes hide-preloader{
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}