.p-blog{

  .short-banner{
    background: #67CFD8;
    height: auto;

    .container{
      width: 100%;
      max-width: 1440px;
    }

    .page-banner-txt{
      padding-bottom: 140px;
      padding-top: 110px;
    }

    h3{
      font-family: $font-p;
      font-size: 30px;
      color: #202330;
      letter-spacing: 0.34px;
      text-align: center;
      padding: 0 0  10px 0px;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 25px;
      }
    }

    h1{
      font-family: $font-h;
      font-size: 90px;
      color: #202330;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 100px;
      padding: 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 60px;
        line-height: 70px;
      }

      @media (max-width: $device-sm) {
        font-size: 40px;
        line-height: 50px;
      }
    }


  }



  .blog-item-list{
     padding-top: 60px;

    .container{
      width: 100%;
      max-width: 1720px;
    }


    .blog-item-wrap{
      padding-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;

      .blog-item{
        a{
          .blog-banner{
            width: 100%;
            display: block;

            img{
              width: 100%;
            }
          }

          .blog-txt{
            width: 100%;
            display: block;

            @media (max-width: $device-sm) {
              padding-top: 15px;
            }

            span{
              width: 100%;
              font-family: $font-h;
              font-size: 16px;
              color: #585858;
              letter-spacing: 1.07px;
              line-height: 40px;
              text-decoration: none;
              padding-bottom: 3px;
              display: inline-block;



              @media (max-width: $device-sm) {
                font-size: 12px;
                line-height: 20px;
                padding-bottom: 10px;
              }
            }

            h2{
              font-family: $font-h;
              font-size: 30px;
              color: #202330;
              padding: 0;
              margin: 0;
              letter-spacing: 1px;
              text-decoration: none;
              line-height: 40px;

              @media (max-width: $device-md) {
                font-size: 25px;
                line-height: 30px;
              }

              @media (max-width: $device-sm) {
                font-size: 20px;
                line-height: 25px;
              }
            }
          }

          &:hover{
              text-decoration: none;
          }


        }
      }
    }


    .sidebar{
      width: 540px;
      float: left;
      padding-left: 50px;

      @media (max-width: $device-md) {
        width: 100%;
        padding-left: 0;
      }

      h4{
        font-family: $font-h;
        padding: 0;
        margin: 0;
        font-size: 16px;
        color: #585858;
        letter-spacing: 1.07px;
        line-height: 40px;
      }

      .share-line{
        width: 100%;
        padding-bottom: 70px;
        border-bottom: 1px solid #DADEE2;

        span{
          font-family: $font-p;
          font-size: 30px;
          color: #717274;
          letter-spacing: 0;
          text-align: center;
          margin-right: 10px;
          line-height: 50px;

          @media (max-width: $device-sm) {
            font-size: 20px;
            line-height: 30px;
          }
        }

        a{
          display: inline-block;
          margin-right: 5px;
        }

      }
      
      
      .side-article-list{
        padding-top: 50px;
        display: block;
        width: 100%;

        h4{
          font-family: $font-m;
          font-size: 30px;
          color: #626367;
          letter-spacing: 0.34px;
          text-align: left;
          padding: 0 0 15px 0px;
          margin: 0;
        }

        .recent-blog-item{
          width: 100%;
          padding-bottom: 30px;
          display: block;

          h2{
            padding: 0;
            margin: 0;

            a{
              font-family: $font-h;
              font-size: 26px;
              color: #202330;
              letter-spacing: 0.87px;
              line-height: 40px;
              text-decoration: none;

              @media (max-width: $device-sm) {
                font-size: 20px;
                line-height: 30px;
              }
            }
          }

          .blog-item-info{
            width: 100%;

            span{
              width: auto;
              padding-right: 15px;
              display: inline-block;

              font-family: $font-h;
              font-size: 16px;
              color: #585858;
              letter-spacing: 1.07px;
              line-height: 40px;
            }
          }
        }
      }
    }


    .blog-box{
      width: calc(100% - 540px);
      float: left;
      padding-right: 50px;

      @media (max-width: $device-md) {
        width: 100%;
        padding-right: 0;
      }

      .blog-content-banner{
        width: 100%;
        float: left;
        padding-bottom: 20px;

        img{
          width: 100%;
        }
      }


      .blog-content-text{
        display: block;
        width: 100%;
        padding-bottom: 70px;

        p{
          font-family: $font-p;
          font-size: 36px;
          color: #202330;
          letter-spacing: 0;
          line-height: 50px;
          padding-bottom: 30px;

          @media (max-width: $device-md) {
            font-size: 30px;
            line-height: 35px;
          }

          @media (max-width: $device-sm) {
            font-size: 25px;
            line-height: 30px;
          }

          img{
            width: 50%;
            float: left;
            padding-right: 20px;

            @media (max-width: $device-sm) {
             width: 100%;
              padding: 0 0 20px 0px;
            }
          }
        }

      }
    }



  }




}