.p-comicbook{


  .page-banner-magazine{
    background-position: center;
    background-size: cover;

  }




  .magazine-intro{
    background: #fff;
    height: auto;
    padding: 40px 0px;

    .container{
      max-width: 1170px;
    }

    .intro-content{

      p{
        font-family: $font-p;
        font-size: 36px;
        color: #202330;
        letter-spacing: 0;
        text-align: center;
        line-height: 50px;

        @media (max-width: $device-md) {
          font-size: 25px;
          line-height: 30px;
        }

        @media (max-width: $device-sm) {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }


    .download-box{
      padding-top: 40px;
      text-align: center;

      span{
        font-family: $font-p;
        font-size: 30px;
        color: #717274;
        letter-spacing: 0;
        text-align: center;
        line-height: 60px;
        padding-right: 7px;
        display: inline-block;

        @media (max-width: $device-sm) {
          font-size: 25px;
          line-height: 35px;
        }
      }

      a{
        background: #60AF5B;
        box-shadow: 5px 5px 0 0 rgba(0,0,0,0.70);
        font-family: $font-h;
        text-transform: uppercase;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 1.6px;
        line-height: 60px;
        margin-right: 15px;
        display: inline-block;
        padding: 0px 35px;
        text-decoration: none;
        transition: all linear .3s;

        &:hover{
          color: #000;
        }

        @media (max-width: $device-sm) {
          width: 100%;
          margin: 0 0 20px 0px;
          font-size: 18px;
        }
      }
    }

  }



  .explore-items-block{
    background: #F8F8FB;
    padding: 65px 0px;

    .container{
      max-width: 1700px;
      width: 100%;
    }

    h2{
      font-family: $font-h;
      font-size: 60px;
      color: #202330;
      letter-spacing: 0.25px;
      text-align: center;


      @media (max-width: $device-md) {
        font-size: 40px;
        line-height: 50px;
      }

      @media (max-width: $device-sm) {
        font-size: 25px;
        line-height: 30px;
      }
    }


    .magazine-item{
      padding-right: 25px;
      padding-left: 25px;
      margin-top: 30px;

      .explore-box-item{
        width: 100%;
        position: relative;
        height: 100%;
        display: inline-block;

        a{
          float: left;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
          }
        }


      }
    }
  }



}