.p-events{

  .short-banner{
    background: #7F1A5B;
    height: auto;

    .container{
      width: 100%;
      max-width: 1440px;
    }

    .page-banner-txt{
      padding-bottom: 140px;
      padding-top: 110px;
    }



    h3{
      font-family: $font-p;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.34px;
      text-align: center;
      padding: 0 0  10px 0px;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 25px;
      }
    }

    h1{
      font-family: $font-h;
      font-size: 90px;
      color: #fff;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 100px;
      padding: 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 60px;
        line-height: 70px;
      }

      @media (max-width: $device-sm) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }



  .events-item-list{
    padding-top: 70px;

    .container{
      width: 100%;
      max-width: 1440px;
    }

    .event-item-wrap{
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 50px;
      height: 50vh;
      min-height: 500px;


      .event-item{
        float: left;
        width: 100%;
        height: 100%;
        background-size: cover;
        position: relative;

        a{
          text-decoration: none;

          .event-txt{
            position: absolute;
            bottom: 0;
            padding: 30px 20px 30px 50px;

            h2{
              font-family: $font-h;
              font-size: 40px;
              color: #FFFFFF;
              letter-spacing: 1.33px;
              line-height: 50px;
              text-transform: uppercase;
              padding: 0;
              margin: 0;

              @media (max-width: $device-md) {
                font-size: 30px;
                line-height: 40px;
                padding-bottom: 15px;
              }

              @media (max-width: $device-sm) {
                font-size: 25px;
                line-height: 30px;
              }
            }
            
            span{
              width: 100%;
              display: block;

              font-family: $font-h;
              font-size: 20px;
              color: #FFFFFF;
              letter-spacing: 0.67px;
              line-height: 50px;

              @media (max-width: $device-md) {
                font-size: 16px;
                line-height: 20px;
              }


              b{
                padding-right: 20px;
                display: inline-block;
              }
            }
          }
        }


      }

    }

  }



  .short-single-banner{
      background: #7F1A5B;
      height: auto;

      .container{
        width: 100%;
        max-width: 1440px;
      }

      .page-banner-txt{
        padding-bottom: 50px;
        padding-top: 60px;
      }



      h3{
        font-family: $font-p;
        font-size: 30px;
        color: #fff;
        letter-spacing: 0.34px;
        text-align: center;
        padding: 0 0  10px 0px;
        margin: 0;

        @media (max-width: $device-md) {
          font-size: 25px;
          line-height: 30px;
        }

        @media (max-width: $device-sm) {
          font-size: 20px;
          line-height: 25px;
        }
      }

      h1{
        font-family: $font-h;
        font-size: 90px;
        color: #fff;
        letter-spacing: 4.5px;
        text-align: center;
        line-height: 100px;
        padding: 0;
        margin: 0;

        @media (max-width: $device-md) {
          font-size: 60px;
          line-height: 70px;
        }

        @media (max-width: $device-sm) {
          font-size: 40px;
          line-height: 50px;
        }
      }

    .event-info{
      width: 100%;
      display: block;
      text-align: center;
      padding-top: 30px;

      span{
        display: inline-block;
        font-family: $font-h;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0.67px;
        line-height: 50px;
        padding: 0px 45px;

        @media (max-width: $device-md) {
          font-size: 16px;
        }


        
        &.time{
          background: url("../images/events/icon-calander.png") left center no-repeat;
        }
        &.location{
          background: url("../images/events/icon-location.png") left center no-repeat;
        }
      }
    }

 }


  .event-single-txt{
    padding-top: 40px;
    padding-bottom: 40px;

    .container{
      max-width: 1170px;

      p{
        font-family: $font-p;
        font-size: 36px;
        color: #202330;
        letter-spacing: 0;
        text-align: center;
        line-height: 50px;

        @media (max-width: $device-md) {
          font-size: 30px;
          line-height: 40px;
        }

        @media (max-width: $device-sm) {
          font-size: 25px;
          line-height: 30px;
        }
      }
    }
  }

  .events-item-list-single{
    background: #F8F8FB;
    padding-top: 50px;

    h3{
      font-family: $font-h;
      font-size: 60px;
      color: #202330;
      letter-spacing: 0.25px;
      text-align: center;
      padding: 0 0 40px 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 40px;
        line-height: 50px;
      }

      @media (max-width: $device-sm) {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

  .event-single-slider{
    padding-top: 60px;

    .container{
      max-width: 1720px;
      width: 100%;
    }

    .event-gallery{

      .slider-item{

        img{
          width: 100%;
          display: block;
        }
      }

      .slick-arrow{
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 100px;
        height: 100px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        z-index: 10;

        @media (max-width: $device-md) {
          width: 50px;
          height: 50px;
        }

        @media (max-width: $device-sm) {
          width: 30px;
          height: 30px;
        }

        &.slick-prev{
          background: url('../images/events/nav-left.png') center no-repeat;
          left: 30px;
          background-size: 100%;
        }

        &.slick-next{
          background: url('../images/events/nav-right.png') center no-repeat;
          right: 30px;
          background-size: 100%;
        }
      }

    }
  }

}