.dc-container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1700px) {
        max-width: 1400px;
    }

    @media (max-width: 1400px) {
        max-width: $device-md;
    }

    @media (max-width: $device-md) {
        margin: 0 auto;
        padding: 0 15px;
    }
}

.black {
    color: $text-color !important;
}

.bg {
    &-light {
        background-color: #F8F8FB;
    }

    &-dark {
        color: #fff;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
    }
}

.big-text {
    text-transform: uppercase;
    // letter-spacing: rem(4.5px);
}

.light-title {
    font-family: $font-p;
}

.animated {
    opacity: 0;
}

.sec {
    padding-top: 50px;
    padding-bottom: 50px;
}

.fp-well {
    position: relative;
    overflow: hidden;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.fp-panel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    cursor: default;
    padding-top: 50px;

    &:first-of-type {
        padding-top: $navbar-height+30px;
    }
}

.button-container {
    text-align: center;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-column {
    flex-direction: column;
}

.btn {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 16px;
    border-radius: 0;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);

    &-primary {
        background-color: $theme-color;
        color: #fff;
        border: 1px solid $theme-color;

        &:hover,
        &:focus,
        &:not(:disabled):not(.disabled):active {
            background-color: #fff;
            color: $theme-color;
            border: 1px solid $theme-color;
        }
    }

    &-text {
        display: inline-block;
        width: auto;
        height: auto;
        color: #d5a940 !important;
        cursor: pointer;
    }

    &[disabled] {
        background-color: #DADADA;
        color: #B0B0B0;
        border: 0;
    }

    &-ib {
        display: inline-block;
        width: auto;
        min-width: 200px;
    }

    &-light {
        background-color: #fff;
        color: #202330;
        padding: 15px 25px;
        letter-spacing: 1.6px;

        &:visited {
            color: #202330;
        }

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &-bold {
        font-family: $font-h;
        text-transform: uppercase;
    }
}

.bg-center {
    background-position: center center;
    background-size: cover;
}

.retro-box {
    margin: 10px;
    background-color: #fff;
    padding: 100px;
    font-size: rem(30px);
    box-shadow: 15px 15px 0 rgba(#000, 0.5);

    p {
        font-size: 26px;
    }

    @media (max-width: $device-sm) {
        p {
            font-size: 18px;
        }
    }

    @media (max-width: 680px) {
        padding: 50px;

        p {
            font-size: 16px;
        }
    }
}

.img-slider {
    &__inner {
        display: flex;
        align-items: center;
    }

    &__dots {
        position: absolute;
        right: 20px;
        top: calc(50% + 70px);
        transform: translate(0, -50%);
        display: flex;
        flex-flow: column;
        z-index: 9;

        .owl-dot {
            width: 11px;
            height: 60px;
            border: 0;
            border-radius: 0;
            cursor: pointer;

            &.active,
            &:focus {
                box-shadow: 0 2px 20px 0 #fff;
                outline: none;
            }

            &:first-of-type {
                border-radius: 7.5px 7.5px 0 0;
            }

            &:last-of-type {
                border-radius: 0 0 7.5px 7.5px;
            }

            &:nth-of-type(7n+1) {
                background-color: #02AFBE;
            }

            &:nth-of-type(7n+2) {
                background-color: #E7515B;
            }

            &:nth-of-type(7n+3) {
                background-color: #00918C;
            }

            &:nth-of-type(7n+4) {
                background-color: #A92279;
            }

            &:nth-of-type(7n+5) {
                background-color: #3C52A3;
            }

            &:nth-of-type(7n+6) {
                background-color: #6D86C3;
            }

            &:nth-of-type(7n+7) {
                background-color: #FCB931;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    &__comic {
        text-align: center;

        .btn {
            margin-bottom: 20px;
        }
    }

    &__fimg {
        margin-bottom: 20px;
        padding: 30px;

        img {
            max-width: 100%;
        }
    }

    &__txt {
        flex: 1;
        font-size: rem(30px);
        line-height: rem(40px);

        h5 {
            font-size: 20px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 45px;
            color: #fff;
            letter-spacing: .25px;
        }

        p {
            line-height: 28px;
        }

        .btn {
            margin-top: 20px;
        }
    }

    &__img {
        flex: 1;
        margin-right: 80px;

        img {
            max-width: 100%;

        }
    }

    @include respond-from(none, $device-sm) {
        &-outer {
            .tns-nav {
                button {
                    height: 40px;
                }
            }
        }

        &__item {
            flex-flow: column;
            width: 100%;
            padding: 0;
        }

        &__img {
            max-width: css-min(70vw, 260px);
            margin: 0 0 20px;
        }

        &__txt {
            max-width: css-min(70vw, 300px);
            width: calc(100vw - 60px);
        }

        &__fimg {
            img {
                max-width: calc(100vw - 100px);
            }
        }
    }

    @media (max-width: $device-sm) {
        &__dots {
            .owl-dot {
                width: 8px;
                height: 35px;
            }
        }
    }

    @media (max-width: $device-sm) {
        &__dots {
            .owl-dot {
                width: 5px;
                height: 30px;
            }
        }
    }
}

.img-slider--s1 {
    .img-slider__inner {
        @media (max-width: $device-sm) {
            .img-slider__item {
                flex-direction: column;
                max-width: 700px;
                margin: 0 auto;
            }

            .img-slider__img {
                margin: 0 0 20px 0;

                img {
                    max-width: 300px;
                }
            }

            .img-slider__txt {
                text-align: center;
                padding-bottom: 30px;

                h2 {
                    font-size: 30px;
                }
            }
        }

        @media (max-width: $device-xs) {
            .img-slider__img {
                img {
                    max-width: 200px;
                }
            }

            .img-slider__txt {
                h5 {
                    font-size: 18px;
                }

                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
        }
    }
}

.img-slider--s2 {
    .img-slider__item {
        padding: 0;

        img {
            max-width: 100%;
        }
    }
}

.article-carousel {
    position: relative;

    .tns-inner {
        margin: 0 -25px !important;
    }

    .article-carousel__nav {
        position: absolute;
        left: -10px;
        right: -10px;
        top: 25%;

        .owl-prev,
        .owl-next {
            position: absolute;
            z-index: 9;
            cursor: pointer;

            img {
                max-width: 70px;
            }
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }
    }

    &__item {
        // margin: 0;
        // max-width: 500px;
    }

    &__thumb {
        margin-bottom: 30px;

        img {
            max-width: 100%;
        }
    }

    &__meta {
        display: flex;
        margin-bottom: 15px;

        .category {
            font-family: $font-h;
            font-size: 14px;
            margin-right: auto;
        }

        .duration {
            font-size: 14px;
            background-color: #EAF0F5;
            border-radius: 3px;
            color: #8F99A2;
            padding: 2px 5px;
        }
    }

    &__desc {
        font-family: $font-h;
        font-size: 22px;
        color: #FFFFFF;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 35px;
        color: #fff;

        .title {
            font-family: $font-h;
            font-size: 40px;
            line-height: 40px;
            margin: 0;
        }

        .datetime {
            font-family: $font-h;
            margin: 15px 0;
            font-size: 18px;
            letter-spacing: .6px;

            >div {
                display: inline-block;
            }

            .date {
                margin-right: 15px;
            }
        }

        .location {
            font-family: $font-h;
            font-size: 18px;
            letter-spacing: .6px;
        }
    }

    .button-container {
        margin: 20px 0;
    }

    @media (max-width: $device-xs) {
        .article-carousel__nav {

            .owl-prev,
            .owl-next {
                img {
                    max-width: 50px;
                }
            }
        }
    }
}

.article-carousel--s1 {
    @media (max-width: $device-sm) {
        .article-carousel__nav {
            top: 18%;
        }
    }
}

.article-carousel--s2 {
    margin-bottom: 30px;

    .article-carousel {
        &__item {
            position: relative;
            // max-width: 450px;
        }

        &__thumb {
            margin-bottom: 0;

            img {
                // max-width: 450px;
            }
        }

        &__info {
            .title {
                font-size: 35px;
                line-height: 35px;
            }

            .datetime {
                font-size: 16px;
            }

            .location {
                font-size: 16px;
            }
        }

        &__nav {
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
    }

    @media (max-width: $device-sm) {
        .article-carousel {
            &__info {
                .title {
                    font-size: 30px;
                    line-height: 1.2;
                }
            }

            &__nav {
                top: 40%;
                transform: translateY(0%);
                z-index: 2;
            }
        }
    }
}

.merchandise-carousel {
    height: 600px;

    img {
        max-width: 400px;
        margin: auto;
    }

    .front-item {
        background: radial-gradient(#fff, transparent 70%);
    }

    @media (max-width: $device-xs) {
        height: 400px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;

        img {
            max-width: 200px;
        }
    }
}

.blog {
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__item {
        max-width: 100%;
        margin-right: 20px;
    }

    &__thumb {
        img {
            max-width: 100%;
            width: 100%;
            height: 230px;
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        margin: 20px 0;

        p {
            margin: 0 15px 0 0;
            color: #585858;
            font-family: $font-h;
            font-size: 14px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__title {
        h3 {
            margin: 0;
            font-size: 24px;
        }
    }

    @media (max-width: $device-md) {
        &__item {
            &:last-of-type {
                display: none;
            }
        }
    }

    @media (max-width: $device-sm) {
        &__container {
            justify-content: center;
        }

        &__item {
            &:nth-child(2) {
                display: none;
            }

            margin-right: 0;
        }

        &__thumb {
            img {
                height: auto;
            }
        }
    }
}

.p-home {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .fp-panel {
        h1 {
            text-align: center;
            color: #fff;
            font-size: 60px;
            margin-bottom: 50px;
        }
    }

    .section2 {
        h1 {
            color: $text-color;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .section3 {
        background-color: #67CFD8;
    }

    .section4 {
        background-color: #1B2240;
    }

    .section5 {
        background-color: #596FB1;
    }

    .section6 {
        background-color: #7F1A5B;
    }

    .section7 {
        background-color: #F8D100;
    }

    .section8 {
        background-color: #67CFD8;
    }

    .section9 {
        background-color: #526592;

        .contact-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .retro-box {
            background-color: #6D86C3;

            .big-text {
                text-align: left;
                margin-bottom: 30px;
            }

            p {
                color: #fff;
            }
        }
    }

    @media (max-width: $device-sm) {
        .fp-panel {
            h1 {
                font-size: 40px;
            }
        }
    }

    @media (max-width: 680px) {
        .fp-panel {
            h1 {
                font-size: 26px;
            }
        }
    }

    @media (max-width: $device-xs) {
        .section7 {
            display: block;
        }
    }
}

footer {
    background: #1B1B1B;
    padding: 30px 0;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: #fff;
            margin-bottom: 5px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        a {
            color: #fff;
        }

        .left-side {
            flex: 1;
        }

        .right-side ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin-right: 10px;

                img {
                    max-width: 30px;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: $device-xs) {
        .container {
            flex-direction: column;
            text-align: center;

            .right-side {
                order: -1;
                margin-bottom: 20px;
            }
        }
    }
}