.p-merchandise{



  .short-banner{
    background: #F8D100;
    height: auto;

    .container{
      width: 100%;
      max-width: 1440px;
    }

    .page-banner-txt{
      padding-bottom: 140px;
      padding-top: 110px;
    }



    h3{
      font-family: $font-p;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.34px;
      text-align: center;
      padding: 0 0  10px 0px;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 25px;
      }
    }

    h1{
      font-family: $font-h;
      font-size: 90px;
      color: #fff;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 100px;
      padding: 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 60px;
        line-height: 70px;
      }

      @media (max-width: $device-sm) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }



  .merchandise-item-list{
    padding-top: 70px;

    .container{
      width: 100%;
      max-width: 1700px;
    }


    .merchandise-item-wrap{
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;

        .merchandise-item {
          width: 100%;
          display: block;

          a {
            text-decoration: none;
          }

          .merchandise-banner{
            float: left;
            width: 100%;
            text-align: center;

            img{
              width: auto;
              max-width: 100%;
              display: inline-block;
            }
          }


          .merchandise-txt{
            padding: 25px 20px;
            float: left;
            width: 100%;

            h2{
              font-family: $font-h;
              font-size: 30px;
              color: #202330;
              letter-spacing: 1px;
              text-align: center;
              line-height: 40px;
              min-height: 80px;

              @media (max-width: $device-md) {
                font-size: 25px;
                line-height: 30px;
              }

              @media (max-width: 767px) {
                font-size: 20px;
                line-height: 25px;
                min-height: 10px;
              }
            }

            span{
              float: left;
              width: 100%;
              text-align: center;

              font-family: $font-h;
              font-size: 30px;
              color: #F2B43D;
              letter-spacing: 1px;
              line-height: 40px;

              @media (max-width: $device-md) {
                font-size: 25px;
                line-height: 30px;
              }


            }


            .inq-btn{
              float: left;
              width: 100%;
              text-align: center;
              padding-top: 26px;

              a{
                background: #60AF5B;
                box-shadow: 5px 5px 0 0 rgba(0,0,0,0.70);
                font-family: $font-h;
                text-transform: uppercase;
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 1.6px;
                line-height: 60px;
                margin-right: 15px;
                display: inline-block;
                padding: 0px 35px;
                text-decoration: none;
                transition: all linear .3s;

                &:hover{
                  color: #000;
                }
              }
            }

          }



        }
    }



  }





  .short-single-banner{
    background: #F8D100;
    height: auto;

    .container{
      width: 100%;
      max-width: 1440px;
    }

    .page-banner-txt{
      padding-bottom: 50px;
      padding-top: 60px;
    }



    h3{
      font-family: $font-p;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.34px;
      text-align: center;
      padding: 0 0  10px 0px;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 25px;
      }

      @media (max-width: $device-sm) {
        font-size: 20px;
      }
    }

    h1{
      font-family: $font-h;
      font-size: 90px;
      color: #fff;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 100px;
      padding: 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 60px;
        line-height: 70px;
      }

      @media (max-width: $device-sm) {
        font-size: 40px;
        line-height: 50px;
      }
    }


  }



  .single-mar-info{
    padding-top: 70px;


    .product-img{
      text-align: center; 

      img{
        display: inline-block;
        width: auto;
        max-width: 100%;
      }
    }

    .product-txt{
      padding: 40px 40px;
      width: 100%;
      display: block;
      float: left;
      
      h4{
        font-family: $font-h;
        font-size: 30px;
        color: #92949C;
        letter-spacing: 1px;
        line-height: 40px;
        padding: 0 0 20px 0;

        @media (max-width: $device-md) {
          font-size: 25px;
          line-height: 30px;
        }

        @media (max-width: $device-sm) {
          font-size: 20px;
          line-height: 25px;
        }
      }
      p{
        font-family: $font-p;
        font-size: 36px;
        color: #202330;
        letter-spacing: 0;
        line-height: 50px;

        @media (max-width: $device-md) {
          font-size: 30px;
          line-height: 35px;
        }

        @media (max-width: $device-sm) {
          font-size: 25px;
          line-height: 30px;
        }
      }

      .price-data{
        width: 100%;
        display: block;

        span{
          font-family: $font-h;
          font-size: 36px;
          color: #F2B43D;
          letter-spacing: 1.2px;
          line-height: 40px;

          @media (max-width: $device-md) {
            font-size: 30px;
            line-height: 35px;
          }

          @media (max-width: $device-sm) {
            font-size: 25px;
            line-height: 20px;
          }
        }
      }


      .amount-data{
        width: 100%;
        padding-top: 20px;
        display: block;

        span{
          float: left;
          width: 100%;
          font-family: $font-p;
          font-size: 30px;
          color: #717274;
          letter-spacing: 0;
          line-height: 50px;
          padding-bottom: 8px;

          @media (max-width: $device-sm) {
            font-size: 25px;
            line-height: 40px;
          }
        }

        .sp-quantity{
          border: 1px solid #D9D9D9;
          float: left;

          div{
            float: left;
            
            a{
              font-family: $font-p;
              font-size: 30px;
              color: #202330;
              letter-spacing: 0;
              line-height: 65px;
              text-align: center;
              display: inline-block;
              min-width: 65px;
              height: 65px;
              width: auto;
              text-decoration: none;
              cursor: pointer;

              @media (max-width: $device-sm) {
                font-size: 20px;
                line-height: 40px;
                min-width: 40px;
                height: 40px;
              }
            }

            &.sp-input{
              border-left: 1px solid #D9D9D9;
              border-right: 1px solid #D9D9D9;

              input{
                font-family: $font-p;
                font-size: 30px;
                color: #202330;
                letter-spacing: 0;
                line-height: 65px;
                text-align: center;
              width: 65px;
                height: 65px;
                padding: 0;
                border:0;
                margin: 0;
                float: left;

                @media (max-width: $device-sm) {
                  font-size: 20px;
                  line-height: 40px;
                  min-width: 40px;
                  height: 40px;
                }
              }
            }
          }

        }
      }
    }
  }





  .information-line{
    padding-bottom: 70px;

    h4{
      font-family: $font-h;
      font-size: 30px;
      color: #202330;
      letter-spacing: 1px;
      line-height: 40px;

      @media (max-width: $device-md) {
        font-size: 25px;
        line-height: 30px;
      }

      @media (max-width: $device-sm) {
        font-size: 20px;
        line-height: 25px;
      }
    }

    p{
      font-family: $font-p;
      font-size: 30px;
      color: #717274;
      letter-spacing: 0;
      line-height: 50px;

      @media (max-width: $device-md) {
        font-size: 25px;
        line-height: 30px;
      }

      @media (max-width: $device-sm) {
        font-size: 20px;
        line-height: 25px;
      }
    }

    .user-form{
      padding-top: 30px;

      div{
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 15px;

        input[type="text"]{
          width: 100%;
          display: inline-block;
          padding: 0px 20px;

          background: #FFFFFF;
          border: 1px solid #B9B9B9;
          height: 65px;
          line-height: 65px;
          font-family: $font-p;
          font-size: 25px;
          color: #484A51;
          letter-spacing: 0;

          @media (max-width: $device-sm) {
            font-size: 16px;
            line-height: 40px;
            height: 40px;
          }
        }

        textarea{
          background: #FFFFFF;
          border: 1px solid #B9B9B9;
          resize: none;
          height: 150px;
          width: 100%;
          display: inline-block;
          padding: 15px 20px;

          font-family: $font-p;
          font-size: 25px;
          color: #484A51;
          letter-spacing: 0;
          line-height: 30px;

          @media (max-width: $device-sm) {
            font-size: 16px;
            line-height: 20px;
          }
        }
        
        &.btn-line{
          text-align: center;
          
          input[type="submit"]{
            background: #60AF5B;
            box-shadow: 5px 5px 0 0 rgba(0,0,0,0.70);
            font-family: $font-h;
            text-transform: uppercase;
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 1.6px;
            line-height: 60px;
            display: inline-block;
            padding: 0px 35px;
            text-decoration: none;
            transition: all linear .3s;
            cursor: pointer;
            width: 100%;
            max-width: 375px;
            margin: 0;
            border:0;

          }
        }
      }
    }
  }



  .merchandise-item-list-single{
    background: #F8F8FB;
    padding-top: 50px;

    h3{
      font-family: $font-h;
      font-size: 60px;
      color: #202330;
      letter-spacing: 0.25px;
      text-align: center;
      padding: 0 0 40px 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 40px;
        line-height: 50px;
      }

      @media (max-width: $device-sm) {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

}