.p-videos{


  .short-banner{
    background: #596FB1;
    height: auto;

    .container{
      width: 100%;
      max-width: 1440px;
    }

    .page-banner-txt{
      padding-bottom: 140px;
      padding-top: 110px;
    }



    h3{
      font-family: $font-p;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.34px;
      text-align: center;
      padding: 0 0  10px 0px;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 25px;
      }
    }

    h1{
      font-family: $font-h;
      font-size: 90px;
      color: #fff;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 100px;
      padding: 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 60px;
        line-height: 70px;
      }

      @media (max-width: $device-sm) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }



  .video-item-list{
    padding-top: 70px;


    .video-item-wrap{
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 50px;

      .video-item{
        width: 100%;
        display: block;

        a{
          text-decoration: none;
        }

        .video-banner{
          width: 100%;
          float: left;

          img{
            width: 100%;
          }
        }



        .video-txt{
          width: 100%;
          float: left;
          padding-top: 30px;

          .container{
            width: 100%;
            max-width: 1720px;
          }
          
          
          .video-meta{
            width: 100%;
            float: left;
            padding-bottom: 7px;

            span{
              width: auto;
              display: inline-block;

              &.vid-category{
                font-family: $font-h;
                font-size: 16px;
                letter-spacing: 1.07px;
                line-height: 40px;
                text-transform: uppercase;
                float: left;

                @media (max-width: $device-sm) {
                  font-size: 12px;
                  line-height: 30px;
                }
              }

              &.category-1{
                color: #F1969D;
              }
              &.category-2{
                color: #66BDBA;
              }
              &.category-3{
                color: #FCB931;
              }

              &.vid-time{
                float: right;
                font-family:  $font-p;
                font-size: 20px;
                color: #8F99A2;
                letter-spacing: 0.5px;
                line-height: 20px;
                background: #EAF0F5;
                border-radius: 3px;
                padding: 5px;


                @media (max-width: $device-sm) {
                  font-size: 16px;
                  line-height: 16px;
                }
              }
            }
          }


          h2{
            float: left;
            width: 100%;
            padding: 0;
            margin: 0;

            font-family:  $font-h;
            font-size: 30px;
            color: #202330;
            letter-spacing: 1px;
            line-height: 40px;


            @media (max-width: $device-md) {
              font-size: 25px;
              line-height: 30px;
            }

            @media (max-width: $device-sm) {
              font-size: 20px;
              line-height: 25px;
            }
          }

        }
      }

    }

  }



//   single page

  .single-video-banner{
    background: #596FB1;
    height: auto;

    .container{
      width: 100%;
      max-width: 1170px;
    }

    .page-banner-txt{
      padding-bottom: 30px;
      padding-top: 30px;
    }



    h3{
      font-family: $font-p;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.34px;
      text-align: center;
      padding:  0px;
      margin: 0;
      text-transform: uppercase;
    }


    .video-wrap{
      background: #FEDA00;
      text-align: center;


      .video-single-block{
        width: 100%;
        max-width: 870px;
        display: inline-block;
        padding: 80px 0px;

        iframe{
          float: left;
          width: 100%;
          height: 60vh;
          min-height: 400px;
          border:0px;
        }

      }
    }


  }



  .video-intro{
    padding-top: 45px;
    padding-bottom: 65px;

    .container{
      width: 100%;
      max-width: 1170px;
    }

    h2{
      font-family: $font-h;
      font-size: 40px;
      color: #202330;
      letter-spacing: 1.33px;
      line-height: 50px;
      padding: 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 30px;
        line-height: 35px;
      }

      @media (max-width: $device-sm) {
        font-size: 25px;
        line-height: 30px;
      }
    }


    .video-meta{
      width: 100%;
      float: left;
      padding-bottom: 10px;

      span{
        width: auto;
        display: inline-block;

        &.vid-category{
          font-family: $font-h;
          font-size: 16px;
          letter-spacing: 1.07px;
          line-height: 40px;
          text-transform: uppercase;
          float: left;

          @media (max-width: $device-sm) {
            font-size: 12px;
            line-height: 30px;
          }
        }

        &.category-1{
          color: #F1969D;
        }
        &.category-2{
          color: #66BDBA;
        }
        &.category-3{
          color: #FCB931;
        }

        &.vid-time{
          float: right;
          font-family:  $font-p;
          font-size: 20px;
          color: #8F99A2;
          letter-spacing: 0.5px;
          line-height: 20px;
          background: #EAF0F5;
          border-radius: 3px;
          padding: 5px;


          @media (max-width: $device-sm) {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }



  .video-item-list-single {
    background: #F8F8FB;
    padding-top: 50px;

    .container{
      width: 100%;
      max-width: 1700px;
    }

    h3{
      font-family: $font-h;
      font-size: 60px;
      color: #202330;
      letter-spacing: 0.25px;
      text-align: center;
      padding: 0 0 40px 0;
      margin: 0;

      @media (max-width: $device-md) {
        font-size: 40px;
        line-height: 50px;
      }

      @media (max-width: $device-sm) {
        font-size: 30px;
        line-height: 40px;
      }
    }

  }

  }