@charset "utf-8";

@each $font-face in 'FuturaStd-Book', 'FuturaStd-Heavy', 'FuturaBT-Medium' {
  @font-face {
    font-family: $font-face;
    font-style: normal; 
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/futura/#{$font-face}.woff2') format('woff2'),
    url('../fonts/futura/#{$font-face}.woff') format('woff');
  }
}

//fonts
$font-p: 'FuturaStd-Book', sans-serif;
$font-h: 'FuturaStd-Heavy', sans-serif;
$font-m: 'FuturaBT-Medium', sans-serif;

//colors
$theme-color: #D5A940;
$secondary-color: #C5508B;
$text-color: #202330;
$text-light: #848484;
$bg-color: #F5F6FA;
$bg-dark: #EAEBF1;

$danger: #E53844;
$warning: #E9B93F;
$success: #57C973;

$spacing-unit: 30px;

// $devices
$device-xs: 480px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;

$navbar-height: 110px;

//margin bottom classs
$mb-classes: 0, 10, 15, 20, 25, 30, 40, 50, 60;

@mixin respond-to($min,
$max) {
  @if $min==none {
    @media (max-width: $max - 1) {
      @content;
    }
  }
  @else if $max==none {
    @media (min-width: $min) {
      @content;
    }
  }
  @else {
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@mixin respond-from($min, $max){
  @if $min == none{
    @media (max-width: $max - 1) {
      @content;
    }
  } @else if $max == none{
    @media (min-width: $min) {
      @content;
    }
  } @else{
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
}


@mixin text-align($rule, $breakpoint, $fallback) {
  text-align: $rule;
  @include respond-to(max, $breakpoint) {
    text-align: $fallback;
  }
}

@mixin btn($bgc, $color, $lighting: 'darken', $ammount: 4, 
$padding: 6px 20px) {
  @if $bgc != 'none' { background-color: $bgc; }
  @if $color != 'none' { color: $color; }
  @if $padding != 'none' { padding: $padding }
  &:hover, &:focus{
    @if($lighting == 'darken'){
      @if $bgc != 'none' { background-color: darken($bgc, $ammount); }
      @if $color != 'none' { color: darken($color, $ammount/2); }
    }
    @if ($lighting == 'lighten'){
      @if $bgc != 'none' { background-color: lighten($bgc, $ammount); }
      @if $color != 'none' { color: lighten($color, $ammount/2); }
    }
  }
}

@function rem($rem) {
  @return ($rem / 10px)+rem;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function css-function($function, $values...) {
  @return $function+unquote('(')+$values+unquote(')');
}

@function css-min($values...) {
  @return css-function(min, $values);
}

@function css-max($values...) {
  @return css-function(max, $values);
}

@import
  "_base",
  "_layout",
  "_toolkit",
  "_comicbook",
  "_blog",
  "_events",
  "_videos",
  "_merchandise"
;
