<!DOCTYPE html>
<html lang="en"{% if isProd != true %} class="dev"{% endif%}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{  title + '| Digital Citizenship' }}{% else %}Digital Citizenship{% endif %}</title>
    <link rel="stylesheet" href="{{ baseurl }}/assets/css/lib.css">
    <link rel="stylesheet" href="{{ baseurl }}/assets/css/main.css">
</head>
<body{% if bodyClass %} class="{{ bodyClass }} no-js"{% endif %}>
  {% block content %} {% endblock %}
  {% include "partials/utils.njk" %}
  <script>
    var siteBaseUrl = '{{ baseurl }}';
  </script>
  <script src="{{ baseurl }}/assets/js/lib.js"></script>
  <script src="{{ baseurl }}/assets/js/main.js"></script>
</body>
</html>