{% set title = 'Blog' %}
{% set bodyClass = 'p-blog' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  page-banner short-banner">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 page-banner-txt"><h1>DIGITAL CITIZEN’S BLOG</h1></div>
            </div>
        </div>
    </section>



    <section class="fullwidth blog-item-list">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 blog-item-wrap same-height">
                    <div class="blog-item">
                        <a href="{{ baseurl }}/blog-single.html">

                            <div class="fullwidth blog-banner">
                                <img src="{{ baseurl }}/assets/images/blog/blog-img-sample.png" />
                            </div>

                            <div class="fullwidth blog-txt">
                                <span>By Abdul Fariz   November 03, 2020</span>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>

                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 blog-item-wrap">
                    <div class="blog-item">
                        <a href="{{ baseurl }}/blog-single.html">

                            <div class="fullwidth blog-banner">
                                <img src="{{ baseurl }}/assets/images/blog/blog-img-sample.png" />
                            </div>

                            <div class="fullwidth blog-txt">
                                <span>By Abdul Fariz   November 03, 2020</span>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>

                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 blog-item-wrap">
                    <div class="blog-item">
                        <a href="{{ baseurl }}/blog-single.html">

                            <div class="fullwidth blog-banner">
                                <img src="{{ baseurl }}/assets/images/blog/blog-img-sample.png" />
                            </div>

                            <div class="fullwidth blog-txt">
                                <span>By Abdul Fariz   November 03, 2020</span>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>

                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 blog-item-wrap">
                    <div class="blog-item">
                        <a href="{{ baseurl }}/blog-single.html">

                            <div class="fullwidth blog-banner">
                                <img src="{{ baseurl }}/assets/images/blog/blog-img-sample.png" />
                            </div>

                            <div class="fullwidth blog-txt">
                                <span>By Abdul Fariz   November 03, 2020</span>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>

                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 blog-item-wrap">
                    <div class="blog-item">
                        <a href="{{ baseurl }}/blog-single.html">

                            <div class="fullwidth blog-banner">
                                <img src="{{ baseurl }}/assets/images/blog/blog-img-sample.png" />
                            </div>

                            <div class="fullwidth blog-txt">
                                <span>By Abdul Fariz   November 03, 2020</span>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 blog-item-wrap">
                    <div class="blog-item">
                        <a href="{{ baseurl }}/blog-single.html">

                            <div class="fullwidth blog-banner">
                                <img src="{{ baseurl }}/assets/images/blog/blog-img-sample.png" />
                            </div>

                            <div class="fullwidth blog-txt">
                                <span>By Abdul Fariz   November 03, 2020</span>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>

                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>



</div>

{% include "partials/footer.njk" %}
{% endblock %}