{% set title = 'Lorem ipsum dolor sit amet | Blog' %}
{% set bodyClass = 'p-blog' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  page-banner short-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-banner-txt">
                    <h3> DIGITAL CITIZEN’S BLOG</h3>
                    <h1>In Defence of Dissent: Before, During and After COVID-19</h1>
                </div>
            </div>
        </div>
    </section>



    <section class="fullwidth blog-item-list">
        <div class="fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class=" blog-box">
                                <div class="blog-content-banner">
                                    <img src="{{ baseurl }}/assets/images/blog/blog-single-banner.jpg" />
                                </div>
                                <div class="blog-content-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>


                                    <p>
                                        <img src="{{ baseurl }}/assets/images/blog/blog-sub-img.png">
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                    </p>
                                </div>

                        </div>

                        <div class="sidebar">
                            <div class="blog-sidebar-wrap">
                                <h4>By Abdul Fariz   November 03, 2020</h4>

                                <div class="share-line">
                                    <span>Share in</span>
                                    <a class="share-fb"><img src="{{ baseurl }}/assets/images/blog/share-fb.png"></a>
                                    <a class="share-tw"><img src="{{ baseurl }}/assets/images/blog/share-tw.png"></a>
                                </div>

                                <div class="side-article-list">
                                    <h4>RECENT BLOGS</h4>

                                    <div class="recent-blog-item">
                                        <h2><a href="#">The Intersection of Technology and Gender: Some Reflections</a></h2>
                                        <div class="blog-item-info"><span>By Shenaya Peris</span> <span>October 26, 2020</span></div>
                                    </div>

                                    <div class="recent-blog-item">
                                        <h2><a href="#">Art and Conflict in Sri Lanka</a></h2>
                                        <div class="blog-item-info"><span>By Shenaya Peris</span> <span>October 26, 2020</span></div>
                                    </div>

                                    <div class="recent-blog-item">
                                        <h2><a href="#">Art and Conflict in Sri Lanka</a></h2>
                                        <div class="blog-item-info"><span>By Shenaya Peris</span> <span>October 26, 2020</span></div>
                                    </div>

                                    <div class="recent-blog-item">
                                        <h2><a href="#">The Intersection of Technology and Gender: Some Reflections</a></h2>
                                        <div class="blog-item-info"><span>By Shenaya Peris</span> <span>October 26, 2020</span></div>
                                    </div>

                                    <div class="recent-blog-item">
                                        <h2><a href="#">Art and Conflict in Sri Lanka</a></h2>
                                        <div class="blog-item-info"><span>By Shenaya Peris</span> <span>October 26, 2020</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </section>



</div>

{% include "partials/footer.njk" %}
{% endblock %}