{% set title = 'Comic Books' %}
{% set bodyClass = 'p-comicbook' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  page-banner-magazine" style="background-image: url('{{ baseurl }}/assets/images/magazine/banner-comic-book.png');  ">
        <div class="fullwidth title-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="magazine-intro   fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                    </div>
                    <div class="download-box">
                        <span>Download in</span> <a href="#" download="download">English</a><a href="#" download="download">Sinhala</a><a href="#" download="download">Tamil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="explore-items-block  fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h2>EXPLORE OTHER COMIC BOOKS</h2></div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6  magazine-item">
                    <div class="explore-box-item"  >
                        <a href="#">
                            <div class="fullwidth">
                               <img src="{{ baseurl }}/assets/images/magazine/comic-book-art.png">
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6  magazine-item">
                    <div class="explore-box-item"  >
                        <a href="#">
                            <div class="fullwidth">
                                <img src="{{ baseurl }}/assets/images/magazine/comic-book-art.png">
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 magazine-item">
                    <div class="explore-box-item"  >
                        <a href="#">
                            <div class="fullwidth">
                                <img src="{{ baseurl }}/assets/images/magazine/comic-book-art.png">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 magazine-item ">
                    <div class="explore-box-item"  >
                        <a href="#">
                            <div class="fullwidth">
                                <img src="{{ baseurl }}/assets/images/magazine/comic-book-art.png">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 magazine-item ">
                    <div class="explore-box-item"  >
                        <a href="#">
                            <div class="fullwidth">
                                <img src="{{ baseurl }}/assets/images/magazine/comic-book-art.png">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6  magazine-item">
                    <div class="explore-box-item"  >
                        <a href="#">
                            <div class="fullwidth">
                                <img src="{{ baseurl }}/assets/images/magazine/comic-book-art.png">
                            </div>
                        </a>
                    </div>
                </div>



            </div>
        </div>
    </section>










</div>

{% include "partials/footer.njk" %}

{% endblock %}