{% set title = 'Ut enim minima veniam nostrum | Events' %}
{% set bodyClass = 'p-events' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  page-banner short-single-banner">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 page-banner-txt">
                    <h3>Events</h3>
                    <h1>Ut enim minima veniam nostrum</h1>
                    <div class="event-info"><span class="time"><b>20th Nov 2020</b> 5:00pm</span> <span class="location">Nelum Pokuna Theatre</span> </div>
                </div>
            </div>
        </div>
    </section>



    <section class="fullwidth event-single-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="event-gallery">
                        <div class="slider-item"><img src="{{ baseurl }}/assets/images/events/event-gallery.png" /></div>
                        <div class="slider-item"><img src="{{ baseurl }}/assets/images/events/event-gallery.png" /></div>
                        <div class="slider-item"><img src="{{ baseurl }}/assets/images/events/event-gallery.png" /></div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="fullwidth event-single-txt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                </div>
            </div>
        </div>
    </section>



    <section class="fullwidth events-item-list events-item-list-single">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>EXPLORE OTHER EVENTS</h3>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>   5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

{% include "partials/footer.njk" %}
{% endblock %}