{% extends "layouts/fullpage.njk" %}
{% set title = 'Events' %}
{% set bodyClass = 'p-events' %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  page-banner short-banner">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 page-banner-txt"><h1>EVENTS</h1></div>
            </div>
        </div>
    </section>



    <section class="fullwidth events-item-list">
        <div class="container">
            <div class="row">


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">
                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">

                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">

                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">

                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 event-item-wrap same-height">
                    <div class="event-item" style="background-image:url('{{ baseurl }}/assets/images/events/events-item-bg.png');">
                        <a href="{{ baseurl }}/events-single.html">

                            <div class="fullwidth event-txt">
                                <h2>Ut enim minima veniam nostrum</h2>
                                <span><b>20th Nov 2020</b>    5:00pm</span>
                                <span>@ Nelum Pokuna Theatre</span>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>



</div>

{% include "partials/footer.njk" %}
{% endblock %}