{% extends "layouts/fullpage.njk" %}
{% set title = 'Home' %}
{% set bodyClass = 'p-home' %}

{% block content %}
    {% include "partials/preloader.njk" %}
    <div id="fp-well" class="fp-well">
        {% include "partials/navigation.njk" %}
        <section class="fp-panel section1 bg-center" style="background-image: url('{{ baseurl }}/assets/images/home/banner.jpg');"></section>
        <section class="fp-panel section2 bg-center content-center" style="background-image: url('{{ baseurl }}/assets/images/home/strips-bg.svg');">
            <div class="container">
                <div class="retro-box">
                    <div class="retro-box__content">
                        <h2 class="big-text">Who we are</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="fp-panel section3 content-center">
            <div class="container">
                <h2 class="big-text text-center black">TOOLKIT</h2>
                <div class="img-slider img-slider--s1">
                    <div class="img-slider__inner owl-carousel">
                        {% for x in range(1, 8) %}
                            <div class="img-slider__item" data-color="#">
                                <div class="img-slider__img">
                                    <img src="{{ baseurl }}/assets/images/home/toolkit-img-1.jpg" alt="">
                                </div>
                                <div class="img-slider__txt">
                                    <h5 class="light-title">Module {{ x }}</h5>
                                    <h2>DIGITAL RIGHTS AND RESPONSIBILITIES</h2>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <a href="{{ baseurl }}/toolkit.html" class="btn btn-ib btn-light btn-bold">More Info</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="img-slider__dots"></div>
                </div>
            </div>
        </section>
        <section class="fp-panel section4 content-center">
            <div class="container">
                <h2 class="big-text text-center">Comic Book</h2>
                <div class="img-slider img-slider--s2">
                    <div class="img-slider__inner owl-carousel">
                        {% for x in range(1, 8) %}
                            <div class="img-slider__comic" data-color="#">
                                <div class="img-slider__fimg">
                                    <img src="{{ baseurl }}/assets/images/home/comit-img-1.jpg" alt="">
                                </div>
                                <a href="{{ baseurl }}/comic-books.html" class="btn btn-ib btn-light btn-bold">View comic book</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="img-slider__dots"></div>
                </div>
            </div>
        </section>
        <section class="fp-panel section5 content-center">
            <div class="dc-container">
                <h2 class="big-text text-center">VIDEOS</h2>
                <div class="article-carousel article-carousel--s1">
                    <div class="article-carousel__nav"></div>
                    <div class="article-carousel__inner owl-carousel">
                        {% set meta_data = [
                            {
                                color: '#F1969D',
                                duration: '5:15',
                                desc: 'Lorem ipsum dolor consectetuer adipiscingnonummy nibh euismod tincidunt ut'
                            }, {
                                color: '#66BDBA',
                                duration: '10:24',
                                desc: 'Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium'
                            }, {
                                color: '#FCB931',
                                duration: '4:25',
                                desc: 'Neque porro quisquam qui dolorem ipsum quia dolor amet consectetur adipisci velit'
                            }
                        ] %}
                        {% for x in range(0, 7) %}
                            <div class="article-carousel__item" data-color="#">
                                <div class="article-carousel__thumb">
                                    <img src="{{ baseurl }}/assets/images/home/article-img-{{ x % 3 + 1 }}.jpg" alt="">
                                </div>
                                <div class="article-carousel__meta">
                                    <div class="category" style="color: {{ meta_data[x % 3].color }}">CATEGORY {{ x % 3 + 1 }}</div>
                                    <div class="duration">{{ meta_data[x % 3].duration }}</div>
                                </div>
                                <div class="article-carousel__desc">
                                    <p>{{ meta_data[x % 3].desc }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="button-container">
                        <a href="{{ baseurl }}/videos.html" class="btn btn-ib btn-light btn-bold">More videos</a>
                    </div>

                </div>
            </div>
        </section>
        <section class="fp-panel section6 content-center">
            <div class="dc-container">
                <h1 class="text-center">EVENTS</h1>
                <div class="article-carousel article-carousel--s2">
                    <div class="article-carousel__nav"></div>
                    <div class="article-carousel__inner owl-carousel">
                        {% set meta_events = [
                            {
                                color: '#074695',
                                title: 'Ut enim minima veniam nostrum',
                                date: '20th Nov 2020',
                                time: '5:00pm',
                                location: '@ Nelum Pokuna Theatre'
                            }, {
                                color: '#602E05',
                                title: 'Quis autem vel eum iure reprehenderit',
                                date: '20th Nov 2020',
                                time: '5:00pm',
                                location: '@ University of Colombo'
                            }, {
                                color: '#168483',
                                title: 'Ut enim minima veniam nostrum',
                                date: '20th Nov 2020',
                                time: '5:00pm',
                                location: '@ Nelum Pokuna Theatre'
                            }
                        ] %}
                        {% for x in range(0, 7) %}
                            <div class="article-carousel__item" data-color="#">
                                <div class="article-carousel__thumb">
                                    <img src="{{ baseurl }}/assets/images/home/event-thumb-{{ x % 3 + 1 }}.jpg" alt="">
                                </div>
                                <div class="article-carousel__info">
                                    <div class="title">{{ meta_events[x % 3].title }}</div>
                                    <div class="datetime">
                                        <div class="date">{{ meta_events[x % 3].date }}</div>
                                        <div class="time">{{ meta_events[x % 3].time }}</div>
                                    </div>
                                    <div class="location">{{ meta_events[x % 3].location }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="button-container">
                    <a href="{{ baseurl }}/events.html" class="btn btn-ib btn-light btn-bold">View all Events</a>
                </div>                
            </div>
        </section>
        <section class="fp-panel section7 content-center content-column">
            <div class="container">
                <h2 class="big-text text-center black">Merchandise</h2>

                <div class="merchandise-carousel">
                    <a href="{{ baseurl }}/merchandise.html" class="cloud9-item">
                        <img src="{{ baseurl }}/assets/images/merchandise/t-shirt.png" alt="">
                    </a>
                    <a href="{{ baseurl }}/merchandise.html" class="cloud9-item">
                        <img src="{{ baseurl }}/assets/images/merchandise/digita-citizenship.png" alt="">
                    </a>
                    <a href="{{ baseurl }}/merchandise.html" class="cloud9-item">
                        <img src="{{ baseurl }}/assets/images/merchandise/digita-citizenship-toolkit.png" alt="">
                    </a>
                </div>
            </div>
        </section>
        <section class="fp-panel section8 content-center">
            <div class="container">
                <h2 class="big-text text-center black">Blog</h2>

                <div class="blog__container">
                    {% set blog_data = [
                        {
                            author: 'Abdul Fariz',
                            date: 'November 03, 2020',
                            title: 'In Defence of Dissent: Before, During and After COVID-19'
                        }, {
                            author: 'Shenaya Peris',
                            date: 'October 26, 2020',
                            title: 'Art and Conflict in Sri Lanka'
                        }, {
                            author: 'H D Alwis',
                            date: 'October 03, 2020',
                            title: 'The Intersection of Technology and Gender: Some Reflections'
                        }
                    ] %}
                    {% for x in blog_data %}
                        <div class="blog__item" data-color="#">
                            <div class="blog__thumb">
                                <img src="{{ baseurl }}/assets/images/blog/image-{{ loop.index }}.jpg" alt="">
                            </div>
                            <div class="blog__meta">
                                <p class="author">By {{ x.author }}</p>
                                <p class="posted-date">{{ x.date }}</p>
                            </div>
                            <div class="blog__title">  
                                <h3>{{ x.title }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="button-container">
                    <a href="{{ baseurl }}/blog.html" class="btn btn-ib btn-light btn-bold">Digital Citizen's Blog</a>
                </div>
            </div>
        </section>
        <section class="fp-panel section9 bg-center content-center content-column">
            <div class="container contact-container">
                <div class="retro-box">
                    <div class="retro-box__content">
                        <h2 class="big-text">Contact</h2>
                        <p>If your school or organization would like to be trained on the basics of being a good digital citizen through interactive workshops ranging from half day /one day/ two day programs, by an experienced panel of speakers, please reach out to us at <a href="mailto:info@minormateters.com" class="black">info@minormateters.com</a> and we will respond shortly.</p>
                    </div>
                </div>
            </div>
            {% include "partials/footer.njk" %}              
        </section>                 
    </div>
{% endblock %}