{% set title = 'Merchandise' %}
{% set bodyClass = 'p-merchandise' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  page-banner short-banner">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 page-banner-txt"><h1>MERCHANDISE</h1></div>
            </div>
        </div>
    </section>


    <section class="fullwidth merchandise-item-list">
        <div class="container">
            <div class="row">




                <div class="col-md-4 col-sm-6 col-xs-12 merchandise-item-wrap same-height">
                    <div class="merchandise-item">

                            <div class="fullwidth merchandise-banner">
                                <a href="{{ baseurl }}/merchandise-single.html">
                                <img src="{{ baseurl }}/assets/images/merchandise/merchan-1.png" />
                                </a>
                            </div>

                            <div class="fullwidth merchandise-txt">
                                <h2>Neque porro quisquam qui dolorem ipsum quia dolor amet</h2>
                                <span class="price">LKR 800.00</span>
                                <div class="fullwidth inq-btn">
                                    <a href="{{ baseurl }}/merchandise-single.html">
                                        INQUIRE NOW
                                    </a>
                                </div>
                            </div>

                    </div>
                </div>



                <div class="col-md-4 col-sm-6 col-xs-12 merchandise-item-wrap same-height">
                    <div class="merchandise-item">

                        <div class="fullwidth merchandise-banner">
                            <a href="{{ baseurl }}/merchandise-single.html">
                                <img src="{{ baseurl }}/assets/images/merchandise/merchan-2.png" />
                            </a>
                        </div>

                        <div class="fullwidth merchandise-txt">
                            <h2>Neque porro quisquam qui </h2>
                            <span class="price">LKR 800.00</span>
                            <div class="fullwidth inq-btn">
                                <a href="{{ baseurl }}/merchandise-single.html">
                                    INQUIRE NOW
                                </a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 merchandise-item-wrap same-height">
                    <div class="merchandise-item">

                        <div class="fullwidth merchandise-banner">
                            <a href="{{ baseurl }}/merchandise-single.html">
                                <img src="{{ baseurl }}/assets/images/merchandise/merchan-3.png" />
                            </a>
                        </div>

                        <div class="fullwidth merchandise-txt">
                            <h2>Neque porro quisquam qui dolorem ipsum </h2>
                            <span class="price">LKR 800.00</span>
                            <div class="fullwidth inq-btn">
                                <a href="{{ baseurl }}/merchandise-single.html">
                                    INQUIRE NOW
                                </a>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </section>


</div>

{% include "partials/footer.njk" %}
{% endblock %}