{% set title = 'Sed ut perspiciatis | Merchandise' %}
{% set bodyClass = 'p-merchandise' %}
{% extends "layouts/fullpage.njk" %}


{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}


    <section class="fp-panel  page-banner short-single-banner">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 page-banner-txt">
                    <h3>MERCHANDISE</h3>
                    <h1>Sed ut perspiciatis unde omnis iste</h1>
                </div>
            </div>
        </div>
    </section>



    <section  class="fullwidth single-mar-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 product-img">
                    <img src="{{ baseurl }}/assets/images/merchandise/merchan-2.png" />
                </div>
                <div class="col-md-6 ">
                    <div class="product-txt">
                    <h4>SKU: MTS001245</h4>
                    <p>Lorem ipsum dolor sit consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    <div class="price-data"><span>LKR 1100.00</span></div>
                    <div class="amount-data">
                        <span>Quantity</span>
                        <div class="sp-quantity">
                            <div class="sp-minus"> <a class="inq-btn" > - </a>
                            </div>
                            <div class="sp-input">
                                <input type="text" class="quntity-input" value="1" />
                            </div>
                            <div class="sp-plus"> <a class="inq-btn" >+</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </section>




    <section class="fullwidth information-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>YOUR INFORMATION</h4>
                    <p>Send us your inquiry and we will get back to you soon.</p>
                </div>
            </div>

            <div class="row user-form">
                <div class="col-md-4"><input type="text" placeholder="Your Name *"></div>
                <div class="col-md-4"><input type="text" placeholder="Email Address *"></div>
                <div class="col-md-4"><input type="text" placeholder="Contact Number *"></div>
                <div class="col-md-12"><textarea placeholder="Additional Information"></textarea></div>
                <div class="col-md-12 btn-line"><input type="submit" value="SEND INQUIRY"></div>
            </div>
        </div>
    </section>






    <section class="fullwidth merchandise-item-list merchandise-item-list-single">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>EXPLORE MORE</h3>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 merchandise-item-wrap same-height">
                    <div class="merchandise-item">

                        <div class="fullwidth merchandise-banner">
                            <a href="{{ baseurl }}/merchandise-single.html">
                                <img src="{{ baseurl }}/assets/images/merchandise/merchan-1.png" />
                            </a>
                        </div>

                        <div class="fullwidth merchandise-txt">
                            <h2>Neque porro quisquam qui </h2>
                            <span class="price">LKR 800.00</span>
                            <div class="fullwidth inq-btn">
                                <a href="{{ baseurl }}/merchandise-single.html">
                                    INQUIRE NOW
                                </a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 merchandise-item-wrap same-height">
                    <div class="merchandise-item">

                        <div class="fullwidth merchandise-banner">
                            <a href="{{ baseurl }}/merchandise-single.html">
                                <img src="{{ baseurl }}/assets/images/merchandise/merchan-3.png" />
                            </a>
                        </div>

                        <div class="fullwidth merchandise-txt">
                            <h2>Neque porro quisquam qui dolorem ipsum </h2>
                            <span class="price">LKR 800.00</span>
                            <div class="fullwidth inq-btn">
                                <a href="{{ baseurl }}/merchandise-single.html">
                                    INQUIRE NOW
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </section>



</div>

{% include "partials/footer.njk" %}
{% endblock %}