{% set title = 'Toolkit' %}
{% set bodyClass = 'p-toolkit' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

    <div lass="scrolllist" style="background-color: #000;">
        {% include "partials/navigation.njk" %}

        <section class="fp-panel animated animate__fadeInUp bg-dark page-banner" 
        style="background-image: url('{{ baseurl }}/assets/images/toolkit/bg-icon-toolkit.png'); background-color:#02AFBE;">
            <div class="title-wrap text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="animated animate__fadeIn animate__delay-1s">MODULE 1</h3>
                            <h1 class="big-text animated animate__fadeInDown animate__delay-2s">Digital Rights &amp; Responsibilities</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="toolkit-intro fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                             fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                        </div>
                        <div class="download-box">
                            <span>Download in</span>
                            <a href="#" download="download">English</a>
                            <a href="#" download="download">Sinhala</a>
                            <a href="#" download="download">Tamil</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="explore-items-block  fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>EXPLORE OTHER MODULES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 explore-item">
                        <div class="explore-box-item" style="background: #01857E;">
                            <a href="#">
                                <div class="explore-box-txt">
                                    <span>MODULE 2</span>
                                    <h4>DIGITAL COMMUNICATION </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 explore-item" >
                        <div class="explore-box-item" style="background: #01857E;">
                            <a href="#">
                                <div class="explore-box-txt">
                                    <span>MODULE 2</span>
                                    <h4>DIGITAL COMMUNICATION </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 explore-item">
                        <div class="explore-box-item" style="background: #01857E;">
                            <a href="#">
                                <div class="explore-box-txt">
                                    <span>MODULE 2</span>
                                    <h4>DIGITAL COMMUNICATION </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 explore-item">
                        <div class="explore-box-item" style="background: #01857E;">
                            <a href="#">
                                <div class="explore-box-txt">
                                    <span>MODULE 2</span>
                                    <h4>DIGITAL COMMUNICATION </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 explore-item">
                        <div class="explore-box-item">
                            <a href="#">
                                <div class="explore-box-txt">
                                    <span>MODULE 2</span>
                                    <h4>DIGITAL COMMUNICATION </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 explore-item">
                        <div class="explore-box-item" style="background: #98256A;">
                            <a href="#">
                                <div class="explore-box-txt">
                                    <span>MODULE 2</span>
                                    <h4>DIGITAL COMMUNICATION </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

    {% include "partials/footer.njk" %}

{% endblock %}