{% set title = 'In Defence of Dissent | Videos' %}
{% set bodyClass = 'p-videos' %}
{% extends "layouts/fullpage.njk" %}

{% block content %}

<div id="fp-well" class="fp-well">
    {% include "partials/navigation.njk" %}

    <section class="fp-panel  single-video-banner">
        <div class="container">

            <div class="row ">
                <div class="col-md-12 page-banner-txt">
                    <h3>Videos</h3>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12  video-wrap ">
                    <div class="video-single-block">
                        <iframe src="https://www.youtube.com/embed/VJc4fx7obkM"  ></iframe>
                    </div>
                </div>
            </div>


        </div>
    </section>



    <section class="fullwidth video-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="video-meta">
                        <span class="vid-category category-1">CATEGORY 1 </span>
                        <span class="vid-time">5:15</span>
                    </div>
                    <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                </div>
            </div>
        </div>
    </section>




    <section class="fullwidth video-item-list video-item-list-single">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>EXPLORE MORE VIDEOS</h3>
                </div>
            </div>


            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 video-item-wrap same-height">
                    <div class="video-item">
                        <a href="{{ baseurl }}/video-single.html">

                            <div class="fullwidth video-banner">
                                <img src="{{ baseurl }}/assets/images/videos/video-item.png" />
                            </div>

                            <div class="fullwidth video-txt">
                                <div class="video-meta">
                                    <span class="vid-category category-1">CATEGORY 1 </span>
                                    <span class="vid-time">5:15</span>
                                </div>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 video-item-wrap same-height">
                    <div class="video-item">
                        <a href="{{ baseurl }}/video-single.html">

                            <div class="fullwidth video-banner">
                                <img src="{{ baseurl }}/assets/images/videos/video-item.png" />
                            </div>

                            <div class="fullwidth video-txt">
                                <div class="video-meta">
                                    <span class="vid-category category-2">CATEGORY 2 </span>
                                    <span class="vid-time">5:15</span>
                                </div>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 video-item-wrap same-height">
                    <div class="video-item">
                        <a href="{{ baseurl }}/video-single.html">

                            <div class="fullwidth video-banner">
                                <img src="{{ baseurl }}/assets/images/videos/video-item.png" />
                            </div>

                            <div class="fullwidth video-txt">
                                <div class="video-meta">
                                    <span class="vid-category category-3">CATEGORY 3 </span>
                                    <span class="vid-time">5:15</span>
                                </div>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 video-item-wrap same-height">
                    <div class="video-item">
                        <a href="{{ baseurl }}/video-single.html">

                            <div class="fullwidth video-banner">
                                <img src="{{ baseurl }}/assets/images/videos/video-item.png" />
                            </div>

                            <div class="fullwidth video-txt">
                                <div class="video-meta">
                                    <span class="vid-category category-1">CATEGORY 1 </span>
                                    <span class="vid-time">5:15</span>
                                </div>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 video-item-wrap same-height">
                    <div class="video-item">
                        <a href="{{ baseurl }}/video-single.html">

                            <div class="fullwidth video-banner">
                                <img src="{{ baseurl }}/assets/images/videos/video-item.png" />
                            </div>

                            <div class="fullwidth video-txt">
                                <div class="video-meta">
                                    <span class="vid-category category-2">CATEGORY 2 </span>
                                    <span class="vid-time">5:15</span>
                                </div>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12 video-item-wrap same-height">
                    <div class="video-item">
                        <a href="{{ baseurl }}/video-single.html">

                            <div class="fullwidth video-banner">
                                <img src="{{ baseurl }}/assets/images/videos/video-item.png" />
                            </div>

                            <div class="fullwidth video-txt">
                                <div class="video-meta">
                                    <span class="vid-category category-3">CATEGORY 3 </span>
                                    <span class="vid-time">5:15</span>
                                </div>
                                <h2>In Defence of Dissent: Before, During and After COVID-19</h2>
                            </div>
                        </a>
                    </div>
                </div>




            </div>



        </div>
    </section>


        </div>

{% include "partials/footer.njk" %}
{% endblock %}