<footer>
    <div class="container">
        <div class="left-side">
            <p>© <span class="copyright-year"></span> Digital Citizen. All rights reserved.</p>
            <p>Solution by <a href="">SABERION</a></p>
        </div>
        <div class="right-side">
            <ul>
                <li><a href="" target="_blank"><img src="{{ baseurl }}/assets/images/social/facebook.svg" alt=""></a></li>
                <li><a href="" target="_blank"><img src="{{ baseurl }}/assets/images/social/twitter.svg" alt=""></a></li>
                <li><a href="" target="_blank"><img src="{{ baseurl }}/assets/images/social/linkedin.svg" alt=""></a></li>
                <li><a href="" target="_blank"><img src="{{ baseurl }}/assets/images/social/instagram.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>