<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ baseurl }}/">
        <span class="sr-only">{{ appName }}</span>
        <img src="{{ baseurl }}/assets/images/logo.png" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="#">Who we are</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li class="seperator"></li>
        <li class="link">
          <a href="https://www.minormatters.org/" target="_blank">minormatters.org <img src="{{ baseurl }}/assets/images/external-link.svg" alt=""></a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
