
<div class="preloader">
  <div class="container">
    <div class="logo">
      <span class="sr-only">{{ appName }}</span>
      <img src="{{ baseurl }}/assets/images/logo.png" alt="">
    </div>
  </div>
</div>

<script>
    (function () {
        let body = document.getElementsByTagName('body')[0];
        body
            .classList
            .remove("no-js");
        document.addEventListener("DOMContentLoaded", function (event) {
            body
                .classList
                .add('page-loaded');
                
                setTimeout(function(){
                    document.getElementsByClassName('preloader')[0].remove();
                }, 4000);
        });
    })();
</script>