<div class="modal fade" id="statusMsgModel" tabindex="-1" role="dialog" aria-labelledby="statusMsgModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="title" class="subtitle-2 mb-4">Message Sent successfully</div>
                <p id="message">Thank you!</p>
            </div>
        </div>
    </div>
</div>